.team {
    margin-top: 100px;
}

.team-right h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0;
    color: #232536;
}

.team-right h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    color: #232536;
    width: 80%;
}
.team-right h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: #232536;
    width: 80%;
}
@media (max-width:992px) {
    .team{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:640px) {
    .team-left img{
        width: 100%;
        height: auto;
    }
    .team-right h2{
        font-size: 30px;
    }
    .team-right h4{
        font-size: 25px;
    }
}