.category-text h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0;
    color: #232536;
    text-align: center;
    margin-top: 60px;
}
.category{
    border: 1px solid #6D6E76;
    width: 290px;
    height: 220px;
    transition: .3s linear;
}
.category .icon{
    background-color: #FBF6EA;
    width: 48px;
    height: 46px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.icon .raketa{
    margin-top: 12px;
    margin-left: 12px;
}
.category h3,
p{
    padding: 0 20px;
}
.category:hover{
    background-color: #FFD050;
}
@media (max-width:700px) {
    .categories{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:400px) {
    .category-text h2{
        font-size: 30px;
    }
}