.text-reg {
    text-align: center;
    margin-top: 69px;
    margin-bottom: 68px;
}

.input {
    width: 50%;
    padding: 18px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    margin-top: 22px;

}

.registe {
    background-color: #FFD050;
    color: black;
    border-style: none;
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 50px;
    margin-top: 50px;
    transition: 0.3s;
}

.registe:hover {
    background-color: black;
    color: white;
}
@media (max-width:768px) {
     .input{
        width: 100%;
        height: auto;
    }
    .registe{
        width: 100%;
    }
}
@media (max-width:450px) {
    .input{
        width: 100%;
        height: auto;
    }
}