.dropdown button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #2C2D2E;
}

.dropdown button:hover {
    color: #EF7C00;
}
.active-lang {
    color: orange !important;
    font-weight: 600;
}