.dropdown button {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    color: #fff;
}

.dropdown button:hover {
    color: #EF7C00;
}
.active-lang {
    color: orange !important;
    font-weight: 600;
}
.black{
    background-color: #232536 !important;
}
.navbar-nav{
    margin-left:px;
}
.register{
    margin-left: 20px;
    padding: 10px 40px;
    border-radius: 4px;
    border: none;
}
.register:hover{
    background-color: blue;
    color: #fff;
    border: none;
}
.navbar-toggler {
  border-color: white; 
}

.navbar-toggler-icon {
  filter: invert(1);
}
.navbar-collapse{
    flex-grow: 0 !important;
}
@media (max-width:990px) {
    .active::after{
        display: none;
    }
}
@media (max-width:700px) {
    .dropdown{
        margin-top: 10px;
    }
    .register{
        margin-top: 20px;
    }
}
 