.footer {
    background-color: #f5f5f5;
    padding: 40px 0px 0px;
    position: relative;
    font-family: Arial, sans-serif;
     background-color: #232536;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}

/* Scroll to Top Button */
.scroll-to-top {
    position: absolute;
    bottom: 25px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #ff8c00;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.scroll-to-top img{
    width: 100px;
    height: 100px;
}

.scroll-to-top:hover {
    transform: scale(1.1);
}

/* Copyright */
.footer-copyright {
    font-size: 13px;
    color: #919399;
    font-weight: 500;
    line-height:1px;
    letter-spacing: 0;
   
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        padding: 0 15px;
    }
    .scroll-to-top {
        bottom: 20px;
        right: 45px;
    }
    .scroll-to-top img{
        width: 100px;
        height: 100px;
    }
    .line_{
        width: 100%;
        height: auto;
    }
}