.footer {
    background-color: #f5f5f5;
    padding: 40px 0px 0px;
    position: relative;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.line_{
    width: 1200px;
    height: 0;
    border: 1px solid #919399;
}
/* Columns */
.footer-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.footer-column h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    margin-bottom: 15px;
    color: #2C2D2E;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 8px;
    
}

.footer-column a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #2C2D2E;
    text-decoration: none;
}

.footer-column a:hover {
    color: #ff8c00;
}
.footer-column .belarus{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #EF7C00;
}

/* Scroll to Top Button */
.scroll-to-top {
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #ff8c00;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 100;
}

.scroll-to-top:hover {
    transform: scale(1.1);
}

/* Copyright */
.footer-copyright {
    text-align: left;
    font-size: 13px;
    color: #919399;
    font-weight: 500;
    line-height:1px;
    letter-spacing: 0;
   
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        padding: 0 15px;
    }

    .footer-columns {
        grid-template-columns: 1fr;
    }
    .scroll-to-top {
        bottom: 20px;
        right: 45px;
    }
    .scroll-to-top img{
        width: 100px;
        height: 100px;
    }
    .line_{
        width: 100%;
        height: auto;
    }
}