.active{
    color: red !important;
    position: relative !important;
}

.active::after{
    display: inline-block !important;
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: red;
    bottom: 3px;
    left: 0;
}