.vision{
    padding: 80px 0 0;
    width: 100%;
}
.pink{
    height: 400px;

}
.left h3,
.right h3{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #232536;
}
.left h2,
.right h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0;
    color: #232536;
    width: 70%;
}
.left h6,
.right h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: #6D6E76;
    max-width: 516px;
}
@media (max-width:725px) {
    .vision{
        flex-direction: column;
        align-items: center;
    }
}