.popular-text h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0;
    color: #000000;
    margin-top: 90px;
}
.popular-card img{
    width: 400px;
    height: 315px;
    margin-bottom: 20px;
}
.popular-card h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #4C4C4C;
}
.popular-card h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0;
    color: #232536;
}
.popular-card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    color: #232536;
    opacity: 70%;
}
.line_one{
    width: 1270px;
    height: 0;
    border: 1px solid #6D6E76;
    margin-top: 60px;
    opacity: 30%;

}
@media (max-width:900px) {
    .popular-cards{
        flex-wrap: wrap;
    }
    .line_one{
        width: 100%;
        height: auto;
    }
}
@media (max-width:450px) {
    .popular-card img{
        width: 100%;
        height: auto;
    }
    .popular-text h2{
        font-size: 30px;
    }
    .popular-card h3{
        font-size: 20px;
    }
    .line_one{
        width: 100%;
        height: auto;
    }
}